
.bg-navy {
    background-color: #2c3e50;
  }

  body {
    background-color: #34495e;
    color: #ecf0f1;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  body {
    /*background: linear-gradient(-45deg, #1a2a3a, #2c3e50, #34495e, #1a2a3a, #2c3e50);
    background-size: 500% 500%;
    animation: gradient 10s ease infinite;*/
    color: #ecf0f1;
    margin: 0;
  }

  .skill-card {
    color: #ecf0f1;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .skill-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .btn-primary{
    background-color: #34485D;
    border-color: #ecf0f1;
  }

  .btn-primary:hover{
    background-color: #ecf0f1;
    border-color: #2C3E50; 
    color: #2C3E50;
  }

  .project-card{
    margin-top: 25px;
  }

  .service-card{
    max-width: 350px;
    margin: 20px auto;
    gap: 20px;
    
  }

  .textdecoration{
    text-decoration: none;
    color: #ecf0f1;
    font-weight: 700;
  }

  .icondecoration{
    color: #ecf0f1;
    font-size: 30px;
    margin: auto 5px;
  }

  .social-links{
    margin-bottom: 20px;
  }

  .centered-items{
    align-items: center;
  }

  .banner{
    background: linear-gradient(-45deg, #1a2a3a, #2c3e50, #34495e, #1a2a3a, #2c3e50);
    background-size: 500% 500%;
    animation: gradient 10s ease infinite;
  }
.card-body a{
    padding: 10px;
    background-color: #34485d;
    color: white;
    border-radius: 10px;
}
.badge{
    margin: 5px;
}



.experience-section {
  width: 100%;
  padding: 20px;
  max-width: 1280px;
  margin: auto;
}

.experience-section h2 {
  text-align: center;
  margin-bottom: 20px;
}

.job {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.job-title, .job-description {
  flex: 1;
  margin: auto;
}

.job-title h3, .job-title h4, .job-description p {
  margin: 0;
  text-align: center;
}

.job-title .year {
  font-style: italic;
  text-align: center;
}

.job-description li {
  padding: 2px 0;
}

.section-title{
  text-align: center;
  margin-top: 40px;
}